/*
 * WicketExamplePage.java
 *
 * Created on __DATE__, __TIME__
 */
 
package __NAME_OF_PACKAGE__;           

import org.apache.wicket.markup.html.WebPage;

/** 
 *
 * @author __USER__
 * @version 
 */

public abstract class BasePage extends WebPage {

    public BasePage() { 
        super(); 
        add(new HeaderPanel("headerpanel", "Welcome To Wicket")); 
        add(new FooterPanel("footerpanel", "Powered by Wicket and the NetBeans Wicket Plugin"));
    } 

}
