/*
 * FooterPanel.java
 *
 * Created on __DATE__, __TIME__
 */
 
package __NAME_OF_PACKAGE__;           

import org.apache.wicket.markup.html.basic.Label;
import org.apache.wicket.markup.html.panel.Panel;

/** 
 *
 * @author __USER__
 * @version 
 */

public final class FooterPanel extends Panel {

    public FooterPanel(String id, String text) {
        super(id);
        add(new Label("footerpanel_text", text));
    }

}
